#feed .item {
    margin: 20px 0 0 0;
}

#feed .item .info {
    background: beige;
    line-height: 25px;
}

#feed .item .title {
    line-height: 26px;
    font-size: 20px;
    font-weight: bold;
}

#feed .item .text {
    margin: 3px 0 5px 0;
}

#feed .pages {
    margin-top: 40px;
}